<mat-tab-group class="tab">
    <mat-tab label="Realizadas">
        <div class="container">
            <div class="card-group" style="justify-content: center;">
                <div class="row">
                    <ng-container *ngFor="let live of livesPrevious">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{live.liveName}} - {{live.liveDate | date:"dd/MM/yyyy"}}</h5>
                                </div>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" [src]="live.urlSafe"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">{{live.channelName}}</small>
                                </div>
                            </div>
                        </div>


                    </ng-container>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Próximas">
        <div class="container">
            <div class="card-group" style="justify-content: center;">
                <div class="row">
                    <ng-container *ngFor="let live of livesNext">
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{live.liveName}} - {{live.liveDate | date:"dd/MM/yyyy"}}
                                    </h5>
                                    <p class="card-text"></p>
                                </div>
                                <div class="live-url">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" [src]="live.urlSafe"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">{{live.channelName}}</small>
                                </div>
                            </div>
                        </div>


                    </ng-container>
                </div>
            </div>
        </div>
    </mat-tab>


</mat-tab-group>